@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;}


body{
	background-color:#43227d;
	background-repeat: no-repeat;
	background-size: cover;
	}


h1{
	font-family: 'Share Tech Mono', monospace;
	color:#FFFFFF;
	font-size: 50px;
}

h3{
color: white;
  font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-stretch: expanded;
}

	
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF319A;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: 'Cookie', cursive;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #ae127f;
}